@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,800&display=swap');

body {
    font-family:Arial, Helvetica, sans-serif;
    /*
    Medidas Absolutas
    cm, mm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vw, vh, %
    */
    font-size: 1em;
}

h1 {
    /* shorthand font
    - font-style -> font-weight -> font-size -> font-family

    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;
    */
    font: italic bolder 3em 'Work Sans', sans-serif;
}

h2 {
    font: bold 2em 'Work Sans', sans-serif;
}