
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0;
}

header{
    background-color: white;
    padding: 10px;
}

nav{
    background-color: rgb(110, 110, 110);
    padding: 5px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.397);
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 25px;
}

nav > a:hover{
    text-decoration: underline;
    color: lightgray;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.356);
}

article{
    background-color: lightgray;
    padding: 5px;
}

article > aside {
    background-color: rgb(177, 177, 177);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0;
}

footer > p{
    margin: 0;
}